.left-sidebar-animation-open {
  opacity: 1;
  animation: openAnimation 1s ease;
  width: 15%;
}
.left-sidebar-animation-close {
  opacity: 0;
  animation: closeAnimation 1s ease;
  width: 0%;
}

@keyframes openAnimation {
  0% {
    opacity: 0;
    /* transform: rotateY(0deg); */
    width: 0%;
    /* left: 0px; */
  }
  50% {
    /* left: 100px; */
  }
  100% {
    opacity: 1;
    /* transform: rotateY(360deg); */
    width: 15%;
    /* left: 0px; */
  }
}
@keyframes closeAnimation {
  0% {
    opacity: 1;
    width: 15%;
    /* left: 0px; */
  }
  50% {
    /* left: 100px; */
  }
  100% {
    opacity: 0;
    width: 0%;
    /* left: 0px; */
  }
}
@media only screen and (max-width: 1300px) { 
  .left-sidebar-animation-open {
    width: 25%;
  }
  @keyframes openAnimation {
    0% {
      opacity: 0;
      /* transform: rotateY(0deg); */
      width: 0%;
      /* left: 0px; */
    }
    50% {
      /* left: 100px; */
    }
    100% {
      opacity: 1;
      /* transform: rotateY(360deg); */
      width: 25%;
      /* left: 0px; */
    }
  }
  @keyframes closeAnimation {
    0% {
      opacity: 1;
      width: 25%;
      /* left: 0px; */
    }
    50% {
      /* left: 100px; */
    }
    100% {
      opacity: 0;
      width: 0%;
      /* left: 0px; */
    }
  }
}